*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "open sans", sans-serif;
}

:root {
    --yellow: #ffcc29;
    --blue: #1d539e;
    --gray: #828799;
    --page-background: #f9fbfc;
    --light-gray: #eeeeee;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: var(--blue); */
    background: linear-gradient(0deg, var(--page-background) 0%, var(--page-background) 50%, rgba(29,83,158,1) 50%, rgba(29,83,158,1) 100%) ;
    height: 100vh;
    padding: 6.25rem;
}

#description-header{
    color: var(--page-background);
    text-align: center;
}

#description-header h1{
    font-size: 3rem;
    margin-bottom: 1.25rem;
}

h3{
    font-weight: 400;
    width: 33rem;
}

#card-container{
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1.7rem;
}

#card-container .card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 22rem;
    height: 29rem;
    border-radius: 0.8rem;
    background-color: var(--page-background);
    padding-bottom: 2rem;
}

#tredding-card {
    transform: scale(1.1);
    box-shadow: 0 0 10px 10px rgba(14, 14, 14, 0.287);
}

.card .plan-type-container{
    height: 4.75rem;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 0 1.4rem;
    border-radius: 0.8rem 0.8rem 0 0;
    background-color: var(--light-gray);
    font-size: 1.2rem;
    font-weight: 700;
}

#golden{
    display: flex;
    justify-content: space-between  ;
    background-color: var(--yellow);
}

#golden span{
    background-color: var(--blue);
    border-radius: 2rem;
    padding: 0.5rem 1.6rem;
    font-size: 0.8rem;
    color: var(--light-gray);
}
.plan-details-container{
    padding: 0.5rem 1.5rem 0 1.5rem;
    height: 100%;
}

p.price-container{
    font-weight: 700;
    font-size: 2.2rem;
    
}

p.price-container span{
    font-size: 1rem;
}

p.price-container span span{
    color: var(--gray)
}

.plan-description{
    color: var(--gray);
    font-weight: 300;
    margin-top: 0.6rem;
}

hr{
    margin: 1.2rem 0 ;
}
.plan-benefits{
    margin: 1rem 0;
    font-weight: 300;
    color: var(--gray)
}

.plan-benefits::first-letter{
    color: greenyellow;
    margin-right: 1rem;
}

button{
    width: 90%;
    height: 4.1rem;
    border: 0.1rem solid var(--blue);
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--blue);
    border-radius: 0.8rem;
    margin-top: 0.5rem;
    cursor: pointer;
    transition: all 400ms;
}

button:hover{
    transform: scale(0.9);
}


button#tredding-button{
    background-color: var(--blue);
    color: var(--page-background);
}

@media (max-width:1300px) {
    .container{
        padding: 1.8rem;
    }
    #card-container{
        margin-top: 4rem;
    }

    #card-container .card{
        width: 19rem;
        height: 25rem;
    }

    .plan-benefits{
        margin: 0.6rem 0;
    }
}


@media (max-width:900px) {
    .container{
        padding: 1.8rem;
        background: linear-gradient(0deg, var(--blue)0%, var(--blue)100%) ;
        height: 100%;
    }
    h3{
        width: 24rem;
    }
    #card-container{
        grid-template-columns: max-content;
        gap: 3rem;
    }

    #card-container .card{
        width: 19rem;
        height: 25rem;
    }

    .plan-benefits{
        margin: 0.6rem 0;
    }
}